
#alkali-metals:checked~.periodic-table .element:not(.alkali-metal),
#alkaline-earth-metals:checked~.periodic-table .element:not(.alkaline-earth-metal),
#lanthanoids:checked~.periodic-table .element:not(.lanthanoid),
#actinoids:checked~.periodic-table .element:not(.actinoid),
#transition-metals:checked~.periodic-table .element:not(.transition-metal),
#post-transition-metals:checked~.periodic-table .element:not(.post-transition-metal),
#metalloids:checked~.periodic-table .element:not(.metalloid),
#other-nonmetals:checked~.periodic-table .element:not(.other-nonmetal),
#noble-gasses:checked~.periodic-table .element:not(.noble-gas),
#unknown:checked~.periodic-table .element:not(.unknown),
#semanticas:checked~.periodic-table .element:not(.semantica),
#alkali-metals:checked~.periodic-table .placeholder,
#alkaline-earth-metals:checked~.periodic-table .placeholder,
#lanthanoids:checked~.periodic-table .placeholder:not(.lanthanoid),
#actinoids:checked~.periodic-table .placeholder:not(.actinoid),
#transition-metals:checked~.periodic-table .placeholder,
#post-transition-metals:checked~.periodic-table .placeholder,
#metalloids:checked~.periodic-table .placeholder,
#other-nonmetals:checked~.periodic-table .placeholder,
#noble-gasses:checked~.periodic-table .placeholder,
#unknown:checked~.periodic-table .placeholder,
#semanticas:checked~.periodic-table .placeholder:not(.semantica) {
    opacity: 0.15;
    pointer-events: none;
}

#alkali-metals:checked~.periodic-table .key label:not(.alkali-metal),
#alkaline-earth-metals:checked~.periodic-table .key label:not(.alkaline-earth-metal),
#lanthanoids:checked~.periodic-table .key label:not(.lanthanoid),
#actinoids:checked~.periodic-table .key label:not(.actinoid),
#transition-metals:checked~.periodic-table .key label:not(.transition-metal),
#post-transition-metals:checked~.periodic-table .key label:not(.post-transition-metal),
#metalloids:checked~.periodic-table .key label:not(.metalloid),
#other-nonmetals:checked~.periodic-table .key label:not(.other-nonmetal),
#noble-gasses:checked~.periodic-table .key label:not(.noble-gas),
#semanticas:checked~.periodic-table .element:not(.semantica) {
    opacity: 0.65;
}