:root {
    --color-azul-claro: #69C6E5;
    --color-azul-rey: #0D88C1;
    --color-rosa-morado: #CE58AE;
    --color-fucsia: #BF058C;
    --color-rosa-mexicano: #DE0063;
    --color-salmon: #FD6885;
    --color-naranja: #FA8C33;
    --color-verde-limon: #B5CD2D;
    --color-verde: #098348;
    --color-azul-verde: #09CF9E;
    --color-amarillo-naranja: #F3B110;
    --color-marron: #CD7C3B;
    --color-nude: #FDB18E;
    --color-morado-nude: #B08D91;
    --color-gris: #D9D9D9;
    --color-negro: #0F0B0B;
    --color-blanco: #fdfdfd;
}

@font-face {
    font-family: 'Rubik';
    src: url('./src/assets/tipografias/Rubik_80s_Fade/Rubik80sFade-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('./src/assets/tipografias/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
    font-family: 'Montserrat';
}

/* Navbar */
.titulo{
    color: var(--color-blanco);
    text-align: center;
    line-height: 1.5;
    font-family: 'Rubik';
}

.fondo-negro{
    background-color: var(--color-negro); 
    margin-bottom: 30px; 
}

.titulo__E{
    color: var(--color-azul-claro);
}

.titulo__L{
    color: var(--color-azul-rey);
}

.titulo__E_2{
    color: var(--color-fucsia);
}

.titulo__M{
    color: var(--color-rosa-mexicano);
}

.titulo__E_3{
    color: var(--color-salmon);
}

.titulo__N{
    color: var(--color-naranja);
}

.titulo__T{
    color: var(--color-verde-limon);
}

.titulo__O{
    color: var(--color-azul-verde);
}

.titulo__S{
    color: var(--color-verde);
}



/* Grupos */

.documento {
    background-color: var(--color-azul-claro);
    border-color: var(--color-azul-claro);
    border-radius: 10px;
}

.metadatos {
    background-color: var(--color-azul-rey);
    border-color: var(--color-azul-rey);
    border-radius: 10px;
    
}

.listas {
    background-color: var(--color-rosa-morado);
    border-color: var(--color-rosa-morado);
    border-radius: 10px;
}

.agrupacion {
    background-color: var(--color-fucsia);
    border-color: var(--color-fucsia);
    border-radius: 10px;
}

.textual {
    background-color: var(--color-rosa-mexicano);
    border-color: var(--color-rosa-mexicano);
    border-radius: 10px;
}

.multimedia {
    background-color: var(--color-salmon);
    border-color: var(--color-salmon);
    border-radius: 10px;
}

.tablas {
    background-color: var(--color-naranja);
    border-color: var(--color-naranja);
    border-radius: 10px;
}

.formulario {
    background-color: var(--color-verde-limon);
    border-color: var(--color-verde-limon);
    border-radius: 10px;
}

.scripting {
    background-color: var(--color-verde);
    border-color: var(--color-verde);
    border-radius: 10px;
}

.interactivas {
    background-color: var(--color-azul-verde);
    border-color: var(--color-azul-verde);
    border-radius: 10px;
}

.semanticas {
    background-color: var(--color-amarillo-naranja);
    border-color: var(--color-amarillo-naranja);
    border-radius: 10px;
}

.ideograficas {
    background-color: var(--color-marron);
    border-color: var(--color-marron);
    border-radius: 10px;
}

.edicion {
    background-color: var(--color-nude);
    border-color: var(--color-nude);
    border-radius: 10px;
}

.obsoletas {
    background-color: var(--color-morado-nude);
    border-color: var(--color-morado-nude);
    border-radius: 10px;
}







