:root {
    --color-azul-claro: #69C6E5;
    --color-azul-rey: #0D88C1;
    --color-rosa-morado: #CE58AE;
    --color-fucsia: #BF058C;
    --color-rosa-mexicano: #DE0063;
    --color-salmon: #FD6885;
    --color-naranja: #FA8C33;
    --color-verde-limon: #B5CD2D;
    --color-verde: #098348;
    --color-azul-verde: #09CF9E;
    --color-amarillo-naranja: #F3B110;
    --color-marron: #CD7C3B;
    --color-nude: #FDB18E;
    --color-morado-nude: #B08D91;
    --color-gris: #D9D9D9;
    --color-negro: #0F0B0B;
    --color-blanco: #fdfdfd;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
}

/* Navbar */
.titulo{
    color: var(--color-blanco);
    text-align: center;
    line-height: 1.5;
}

.fondo-negro{
    background-color: var(--color-negro); 
    margin-bottom: 30px; 
}

.titulo__E{
    color: var(--color-azul-claro);
}

.titulo__L{
    color: var(--color-azul-rey);
}

.titulo__E_2{
    color: var(--color-fucsia);
}

.titulo__M{
    color: var(--color-rosa-mexicano);
}

.titulo__E_3{
    color: var(--color-salmon);
}

.titulo__N{
    color: var(--color-naranja);
}

.titulo__T{
    color: var(--color-verde-limon);
}

.titulo__O{
    color: var(--color-azul-verde);
}

.titulo__S{
    color: var(--color-verde);
}

/* Elemento */

.element {
    position: relative;
    cursor: pointer;
    transition: 500ms;
}

.element-number{
    font-size: 8px;
    color: var(--color-negro);
}

.nombre{
    font-size: 14px;
    color: var(--color-negro);
}

.tag{
    font-size: 12px;
}

/* Grupos */

.documento {
    background-color: var(--color-azul-claro);
    border-color: var(--color-azul-claro);
    border-radius: 10px;
}

.metadatos {
    background-color: var(--color-azul-rey);
    border-color: var(--color-azul-rey);
    border-radius: 10px;
    
}

.listas {
    background-color: var(--color-rosa-morado);
    border-color: var(--color-rosa-morado);
    border-radius: 10px;
}

.agrupacion {
    background-color: var(--color-fucsia);
    border-color: var(--color-fucsia);
    border-radius: 10px;
}

.textual {
    background-color: var(--color-rosa-mexicano);
    border-color: var(--color-rosa-mexicano);
    border-radius: 10px;
}

.multimedia {
    background-color: var(--color-salmon);
    border-color: var(--color-salmon);
    border-radius: 10px;
}

.tablas {
    background-color: var(--color-naranja);
    border-color: var(--color-naranja);
    border-radius: 10px;
}

.formulario {
    background-color: var(--color-verde-limon);
    border-color: var(--color-verde-limon);
    border-radius: 10px;
}

.scripting {
    background-color: var(--color-verde);
    border-color: var(--color-verde);
    border-radius: 10px;
}

.interactivas {
    background-color: var(--color-azul-verde);
    border-color: var(--color-azul-verde);
    border-radius: 10px;
}

.semanticas {
    background-color: var(--color-amarillo-naranja);
    border-color: var(--color-amarillo-naranja);
    border-radius: 10px;
}

.ideograficas {
    background-color: var(--color-marron);
    border-color: var(--color-marron);
    border-radius: 10px;
}

.edicion {
    background-color: var(--color-nude);
    border-color: var(--color-nude);
    border-radius: 10px;
}

.obsoletas {
    background-color: var(--color-morado-nude);
    border-color: var(--color-morado-nude);
    border-radius: 10px;
}

/* Modal */
.modal-referencia{
    font-size: 10px;
}
.modal-elemento{
    text-align: justify;
    font-size: 14px;
}

/* Grid  */

.section-tabla{
    margin-left: 5%;
    margin-right: 5%;
    
}

.section-tabla {
    flex: 1;
}

.grid-tabla{
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    grid-gap: 10px;
}

.grid-item{
    text-align: center;
}

.c1 {
    grid-column: 1; 
}
.c2 {
    grid-column: 2; 
}
.c3 {
    grid-column: 3; 
}
.c4 {
    grid-column: 4; 
}
.c5 {
    grid-column: 5; 
}
.c6 {
    grid-column: 6; 
}
.c7 {
    grid-column: 7; 
}
.c8 {
    grid-column: 8; 
}
.c9 {
    grid-column: 9; 
}
.c10 {
    grid-column: 10; 
}
.c11 {
    grid-column: 11; 
}
.c12 {
    grid-column: 12; 
}
.c13 {
    grid-column: 13; 
}
.c14 {
    grid-column: 14; 
}
.c15 {
    grid-column: 15; 
}
.c16 {
    grid-column: 16; 
}
.c17 {
    grid-column: 17; 
}

.r1 {
    grid-row: 1;
}
.r2 {
    grid-row: 2;
}
.r3 {
    grid-row: 3;
}
.r4 {
    grid-row: 4;
}
.r5 {
    grid-row: 5;
}
.r6 {
    grid-row: 6;
}
.r7 {
    grid-row: 7;
}
.r8 {
    grid-row: 8;
}
.r9 {
    grid-row: 9;
}
.r10 {
    grid-row: 10;
}

/* Footer */
.div-footer{
    background-color: var(--color-negro);
    margin-top: 30px;
}

.texto-footer{
    color: var(--color-blanco);
    
}

.link-footer {
    text-decoration: none; /* Elimina la decoración de subrayado */
    color: inherit; /* Hereda el color del texto del elemento padre (en este caso, blanco) */
}